{% extends "base.html" %}
{% block content %}

<h4 class="mb-3">
  <i class="bi bi-calendar3"></i> Calendário de Consultas
</h4>

<div id="calendar"></div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',

      locale: 'pt-br',

      events: {{ eventos|tojson }},

      eventClick: function(info) {
        if (info.event.url) {
            window.location.href = info.event.url;
            info.jsEvent.preventDefault();
        }
      }
    });

    calendar.render();
  });
</script>

{% endblock %}